/* --------------------------- layout --------------------------- */

.wrapper {
  min-height: 100vh;
  width: 100vw;
}
.section-wrapper {
  position: relative;
  width: 100%;
  z-index: 1;
  overflow: hidden;
  &.overtop {
    position: relative;
    z-index: 8;
    margin-top: -100vh;
    transform: translateZ(0px);
  }
  &.vis {
    overflow: visible;
  }
}
.content-wrapper {
  width: 100%;
  margin: 0 auto;
  position: relative;
  max-width: var(--baseW);
  &.p-max {
    max-width: calc(var(--baseW) + var(--full-margin));
  }
  &.no-max {
    max-width: none;
  }
  &.wide {
    max-width: var(--baseW2);
  }
  &.post {
    max-width: var(--postW);
  }
}
.grid {
  display: grid;
  position: relative;
  &.two-col {
    display: grid;
    grid-auto-columns: minmax(0, 1fr);
    grid-auto-flow: column;
    &.gap {
      gap: 40px;
    }
  }
  &.three-col {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    .col {
      border-top-width: 1px;
    }
  }
}
.col,
.card {
  position: relative;
  &.pad {
    padding: var(--side-margin);
  }
  &.a-rt {
    display: grid;
    justify-items: end;
  }
  &.p-rt {
    padding-right: 50px;
  }
}
.gridlines {
  .col {
    border-style: solid;
  }
  .three-col {
    .col {
      border-right-width: 1px;
    }
  }
}
.txt-grp {
  width: 100%;
}

@media (max-width: 1440px) {
  .grid {
    &.three-col {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }
}
@media (max-width: 1200px) {
  .grid {
    &.two-col {
      &.gap {
        gap: 25px;
      }
    }
  }
}
@media (max-width: 1024px) {
  .col {
    &.pad {
      padding: var(--side-marginM);
    }
  }
}
@media (max-width: 900px) {
  .grid {
    &.two-col:not(.nobr) {
      grid-template-columns: auto;
      grid-auto-flow: row;
      .col + .col {
        border-top-width: 1px;
      }
      &.gap {
        gap: 15px;
      }
      &:not(.stack) {
        .col + .col {
          margin-top: var(--top-marginM);
        }
      }
    }
  }
  .col.pl {
    padding-left: 0;
  }
  .col.pr {
    padding-right: 0;
  }
}
@media (min-width: 901px) {
  .gridlines {
    .two-col {
      .col + .col {
        border-left-width: 1px;
      }
    }
  }
}
@media (max-width: 768px) {
  .grid {
    &.three-col {
      display: block;
    }
  }
}
@media (max-width: 550px) {
  .grid {
    &.two-col:not(.nobr) {
      &:not(.stack) {
        .col + .col {
          margin-top: var(--top-marginM2);
        }
      }
    }
  }
  .col {
    &.pad {
      padding: var(--side-marginM2);
    }
  }
}

/* --------------------------- ui --------------------------- */
.logo-main {
  width: 110px;
  height: 68px;
  &.wide {
    width: 220px;
    height: 38px;
  }
  svg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }
}
.bucket {
  position: relative;
}
.bullet-list,
.has-bullets ul,
.post ul:not(.tags) {
  list-style: none;
  li {
    padding-left: 25px;
    position: relative;
    + li {
      margin-top: var(--margintop);
    }
    &:before {
      content: '';
      position: absolute;
      left: 0px;
      top: 0.3em;
      width: 8px;
      height: 16px;
      background: url(/public/icons/chevron.svg) left top no-repeat;
      background-size: 9px auto;
    }
  }
}
/* .bgtexture {
  background-color: var(--black);
    background: url('/assets/img/bgtexture.jpg') left top;
  background-size: 1800px 1000px;
  background: #555 !important;
} */
.anim-wrap {
  width: 100%;
  position: relative;
  z-index: 0;
}
.list-icon {
  border-radius: 7px;
  overflow: hidden;
  width: 60px;
}

/* --------------------------- buttons --------------------------- */
a {
  color: var(--pink);
  transition: all 0.5s ease-out;
  &.full {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
  &.ul {
    position: relative;
    padding-bottom: 5px;
    &:after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 1px;
      transform: scaleX(0);
      transition: var(--ease-out);
    }
    &.on {
      &:after {
        transform: scaleX(1);
      }
    }
  }
}
.cta-btn {
  display: inline-block;
  border-width: 1px;
  border-style: solid;
  padding: 20px;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0.7px;
  line-height: 1;
  text-align: center;
  &.sm {
    font-size: 14px;
    padding: 15px 18px;
  }
  &.dk {
    border-color: #fff;
    color: #fff;
  }
  &.lt {
    border-color: var(--black);
    color: var(--black);
  }
  .arrow {
    width: 21px;
    display: inline-block;
    vertical-align: text-top;
    margin-left: 11px;
    margin-top: 1px;
    position: relative;
  }
  &.rnd {
    border-radius: 70px;
    font-family: 'FT Activica', sans-serif;
    font-weight: 400;
    font-size: 30px;
    padding: 12px 16px;
    background-color: var(--cream);
  }
}
.social-btn {
  overflow: hidden;
  .hover-icon {
    position: absolute;
    left: 0;
    top: 50%;
    width: 42px;
    height: 42px;
    margin-top: -21px;
    border-radius: 50%;
    border: 1.5px solid var(--cream);
    padding: 10px;
    opacity: 0;
    pointer-events: none;
    display: grid;
    place-content: center;
    img {
      object-fit: contain;
    }
  }
  .txt {
    display: block;
  }
}
@media (pointer: fine) {
  .cta-btn {
    &:hover {
      border-radius: 50px;
    }
    &.rnd:hover {
      border-radius: 0px;
    }
  }
  a.ul:hover {
    &:after {
      transform: scaleX(1);
    }
  }
}
.cta-group {
  &:not(.grid):not(.stack) {
    a + a {
      margin-left: 20px;
    }
  }
  &.stack {
    display: grid;
    grid-template-columns: auto;
    gap: 15px;
  }
}
@media (min-width: 901px) {
  .col {
    .cta-group {
      margin-bottom: -20px;
      a {
        margin-right: 20px;
        margin-bottom: 20px;
        + a {
          margin-left: 0 !important;
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .cta-btn {
    font-size: 14px;
    padding: 18px 20px 20px;
    .arrow {
      margin-top: 0;
    }
  }
}
@media (max-width: 550px) {
  .cta-btn {
    width: 100%;
  }
}

/* --------------------------- theme --------------------------- */
.section-wrapper {
  &.dk {
    background-color: var(--black);
  }
  &.lt {
    background-color: var(--cream);
  }
}
.section-wrapper,
header,
.set-theme {
  &.dk {
    color: var(--cream);
    .cta-btn {
      border-color: var(--cream);
      color: var(--cream);
    }
    svg.use-theme {
      path,
      rect {
        fill: var(--cream);
      }
    }
    .gridline {
      background-color: var(--dkgray);
    }
    .gridlines,
    &.gridlines {
      .col + .col {
        border-color: var(--dkgray);
      }
    }
    .has-bdr {
      border-color: var(--dkgray);
    }
    .pixel,
    .bgpart {
      background-color: var(--cream);
    }
    a.ul:after {
      background-color: var(--cream);
    }
  }
  &.lt {
    color: var(--black);
    .cta-btn {
      background-color: var(--cream);
      border-color: var(--black);
      color: var(--black);
    }
    svg.use-theme {
      path,
      rect {
        fill: var(--black);
      }
    }
    .gridline {
      background-color: var(--gray);
    }
    .gridlines,
    &.gridlines {
      .col {
        border-color: var(--gray);
      }
    }
    .has-bdr {
      border-color: var(--gray);
    }
    .pixel,
    .bgpart {
      background-color: var(--black);
    }
    a.ul:after {
      background-color: var(--black);
    }
  }
}

/* --------------------------- tier --------------------------- */

.cover {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 21;
  background-color: var(--black);
  pointer-events: none;
  transform-origin: left top;
  will-change: transform;
}
.change {
  position: fixed;
  left: 0;
  top: 0;
}

/* --------------------------- blog --------------------------- */

.side-ornament {
  position: absolute;
  top: 10.9375rem;
  width: 100px;
  height: 105px;
  display: grid;
  place-items: center;
  z-index: 21;
  background-color: var(--cream);
  &.lt {
    left: var(--grid-margin);
    margin-left: -50px;
  }
  &.rt {
    right: var(--grid-margin);
    margin-right: -50px;
  }
  img {
    width: 40px;
  }
  .circ {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--black);
  }
}
.thumb-wrap {
  position: relative;
  &.has-arrow {
    padding-bottom: 75px;
  }
  &:after {
    content: '';
    z-index: -1;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--brown);
    opacity: 0;
    transition: var(--linear);
  }
}
.thumb-img {
  aspect-ratio: 2/1;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 25px;
  position: relative;
  img {
    object-fit: cover;
    height: 100%;
  }
}
.thumb-icon {
  width: 90px;
  height: 90px;
  border-radius: 10px;
  padding: 8px;
  background-color: var(--cream);
  position: absolute;
  left: 12px;
  bottom: 14px;
  transform-origin: left bottom;
  img {
    border: 1px solid var(--black);
    border-radius: 8px;
    overflow: hidden;
    object-fit: cover;
  }
}
.blog-grid {
  h3 {
    font-size: 2.125rem;
    + p {
      margin-top: 10px;
    }
  }
  p,
  time {
    font-size: 16px;
    line-height: 1.62;
  }
  .thumb-img {
    margin-bottom: 20px;
  }
  .row.details {
    margin-bottom: 15px;
  }
}
.blog-grid-spacer {
  border-top: 1px solid var(--gray);
  height: 0;
}
.tags {
  list-style: none;
  display: inline-block;
  li {
    display: inline-block;
    margin: 0 15px 15px 0;
  }
}
.tag {
  display: inline-block;
  border-radius: 25px;
  border: 1px solid var(--black);
  font-size: 20px;
  padding: 1px 12px;
  background-color: var(--cream);
  &.selected {
    color: var(--cream);
    background-color: var(--black);
    pointer-events: none;
  }
}
.blog-thumb,
.blog-feature {
  .details {
    position: relative;
    pointer-events: none;
    z-index: 2;
    .tag {
      pointer-events: all;
    }
  }
}

@media (min-width: 551px) {
  .blog-grid {
    .thumb-icon {
      transform: scale(0.67);
      left: 8px;
      bottom: 8px;
    }
  }
  .tag {
    &.sm {
      font-size: 16px;
      padding: 0px 10px;
    }
  }
}
@media (pointer: fine) {
  .tag:hover {
    color: var(--cream);
    background-color: var(--black);
  }
  .thumb-wrap:hover {
    &:after {
      opacity: 1;
    }
  }
}
@media (max-width: 1200px) {
  .tag {
    font-size: 16px;
    padding: 0px 10px;
  }
  .tags li {
    margin: 0 10px 10px 0;
  }
  .side-ornament {
    top: 50%;
    margin-top: -30px;
    &.lt {
      left: var(--grid-marginM);
    }
    &.rt {
      right: var(--grid-marginM);
    }
  }
}
@media (max-width: 1024px) {
  .hero.blog {
    padding-top: 75px;
    .page-top {
      padding-top: 0;
      .gridline.top {
        top: 0;
      }
    }
  }
  .hero.post {
    .page-top {
      padding-bottom: 25px;
    }
  }
}
@media (max-width: 768px) {
  .side-ornament {
    transform: scale(0.35);
    margin-top: -8px;
    &.lt {
      transform-origin: left top;
      left: var(--grid-marginM2);
      margin-left: -16px;
    }
    &.rt {
      transform-origin: right top;
      right: var(--grid-marginM2);
      margin-right: -16px;
    }
  }
}
@media (max-width: 550px) {
  .thumb-img {
    margin-bottom: 18px;
  }
  .thumb-icon {
    transform: scale(0.5);
    left: 8px;
    bottom: 8px;
  }
  .hero .feature.col {
    padding: 15px;
  }
  .hero.blog .page-top {
    padding-bottom: 0;
  }
  .tags {
    li {
      margin: 0 8px 5px 0;
    }
  }
  .tag {
    padding: 2px 10px;
    font-size: 12px;
  }
}

.datocms-example {
  margin: 0; /* Remove the default blockquote margins */
  margin-top: 10px;
  padding-left: 10px;
  border-left: 1px solid #ff593d; /* Dato brand color as an example */

  &:before {
    content: open-quote
  }

  &:after {
    content: close-quote
  }
}