/* --------------------------- vars --------------------------- */
:root {
  /* colors */
  --black: #0e0e15;
  --cream: #fffcf7;
  --gray: #e2dce3;
  --dkgray: #2b2b2b;
  --orange: #ff4f15;
  --purple: #c215ff;
  --aqua: #58fff5;

  /* bounds */
  --baseW: 1440px;

  /* margins */
  --top-margin: 140px;
  --top-marginM: 50px;
  --bot-margin: 65px;
  --side-margin: 50px;
  --side-marginM: 25px;
  --full-margin: calc(var(--side-margin) * 2);
  --hero-margintop: 180px;
  --grid-margin: 95px;

  /* animation */
  --ease-in-out: transform 0.5s cubic-bezier(1, 0, 0.5, 1);
  --ease-in: transform 0.5s cubic-bezier(0.57, 0, 1, 0.48);
  --ease-out: all 0.5s cubic-bezier(0, 0.89, 0.32, 1);
  --linear: all 0.3s linear;
}

/* color classes */

.bg-orange {
  background-color: var(--orange);
}
.bg-purple {
  background-color: var(--purple);
}
.bg-aqua {
  background-color: var(--aqua);
}

/* --------------------------- text --------------------------- */
body {
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  line-height: 1.5;
}

/* headers */
.h-lg,
header h1,
.section-wrapper h2 {
  font-family: 'PP Right Slab', serif;
  font-size: 118px;
  font-weight: 300;
  line-height: 0.92;
  + p {
    margin-top: 40px;
  }
  &.alt {
    font-size: 200px;
    line-height: 0.75;
  }
}
.h-md,
h3 {
  font-family: 'FT Activica', sans-serif;
  font-size: 50px;
  font-weight: 300;
  line-height: 1.1;
  text-transform: uppercase;
  + p {
    margin-top: 35px;
  }
}
.h-sm,
h4 {
  font-size: 26px;
  font-weight: 300;
  line-height: 1.4;
}
.h-xsm {
  font-size: 22px;
  font-weight: 400;
}
.callout-txt-lg {
  font-family: 'FT Activica';
  font-size: 690px;
  line-height: 0.75;
}
.pix {
  font-family: 'FT Activica', sans-serif;
  font-size: 0.73em;
}

/* body */
.body-sm {
  p,
  li {
    font-size: 18px;
    line-height: 1.65;
  }
}
.body-md {
  p,
  li {
    font-size: 20px;
    line-height: 1.7;
  }
}
.body-lg {
  p,
  li {
    font-size: 26px;
    line-height: 1.7;
  }
}

/* text spacing */
p + p {
  margin-top: 25px;
}
p + .cta-btn {
  margin-top: 30px;
}
[class*='body-'] {
  p + ul,
  ul + p {
    margin-top: 25px;
  }
  ul:not(.item-list) {
    padding-left: 30px;
  }
}

.cn {
  text-align: center;
}

@media (max-width: 1200px) {
  .body-lg {
    p,
    li {
      font-size: 22px;
    }
  }
  h2 + * {
    margin-top: 30px;
  }
}
@media (max-width: 1024px) {
  body {
    font-size: 18px;
  }
  .body-md {
    p,
    li {
      font-size: 18px;
      line-height: 1.5;
    }
  }
  .body-lg {
    p,
    li {
      font-size: 20px;
    }
  }
  h2 {
    font-size: 22px;
    line-height: 1.35;
  }
}

@media (max-width: 768px) {
}

/* --------------------------- margins --------------------------- */

.hpad,
.p-max {
  padding-left: var(--side-margin);
  padding-right: var(--side-margin);
}
.vpad {
  padding-top: var(--top-margin);
  padding-bottom: var(--top-margin);
}
.pt {
  padding-top: var(--top-margin);
}
.pb {
  padding-bottom: var(--bot-margin);
}
.pt-20 {
  padding-top: 20px;
}
.pt-65 {
  padding-top: 65px;
}
.pb-65 {
  padding-bottom: 65px;
}
.pl {
  padding-left: var(--side-margin);
}
.pr {
  padding-right: var(--side-margin);
}
.mt-100 {
  margin-top: 100px;
}
.mt-65 {
  margin-top: 65px;
}

@media (max-width: 1200px) {
  .vpad {
    padding-top: var(--top-marginM);
    padding-bottom: var(--top-marginM);
  }
  .hpad {
    padding-left: var(--side-marginM);
    padding-right: var(--side-marginM);
  }
  .pt {
    padding-top: var(--top-marginM);
  }
  .pb {
    padding-bottom: var(--top-marginM);
  }
  .pl {
    padding-left: var(--side-marginM);
  }
  .pr {
    padding-right: var(--side-marginM);
  }
}

/* --------------------------- positioning --------------------------- */

.auto {
  margin-left: auto;
  margin-right: auto;
}
.flex-jst {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex-cn {
  display: flex;
  justify-content: center;
}
.pos-ct {
  left: 50%;
  transform: translateX(-50%);
}
.n-col {
  display: grid;
  grid-auto-columns: minmax(0, 1fr);
  grid-auto-flow: column;
}
.mx-1100 {
  max-width: 1100px;
}
.mx-850 {
  max-width: 850px;
}
.mx-600 {
  max-width: 600px;
}

/* --------------------------- util --------------------------- */

::-moz-selection {
  background: var(--orange);
  color: var(--cream);
}
::selection {
  background: var(--orange);
  color: var(--cream);
}
.boost {
  transform: translateZ(0px);
}
.anim-resize {
  transition: var(--ease-out);
}
.scroll-reveal {
  opacity: 0;
  transition: all 0.5s ease-out;
  &.on {
    opacity: 1;
  }
}

@media (min-width: 769px) and (max-width: 1200px) {
  .three-col .scroll-reveal {
    &:nth-child(2n + 2) {
      transition-delay: 0.2s;
    }
  }
}
@media (min-width: 1201px) {
  .three-col .scroll-reveal {
    &:nth-child(3n + 2) {
      transition-delay: 0.15s;
    }
    &:nth-child(3n + 3) {
      transition-delay: 0.3s;
    }
  }
}
@media (min-width: 769px) {
  .two-col .scroll-reveal {
    &:nth-child(2n + 2) {
      transition-delay: 0.2s;
    }
  }
}
