/* --------------------------- vars --------------------------- */
:root {
  /* colors */
  --black: #0e0e15;
  --cream: #fffcf7;
  --gray: #e2dce3;
  --graydk: #2b2b2b;
  --orange: #ff4f15;

  /* bounds */
  --baseW: 1440px;

  /* margins */
  --top-margin: 100px;
  --top-marginM: 50px;
  --side-margin: 50px;
  --side-marginM: 25px;
  --full-margin: calc(var(--side-margin) * 2);

  /* animation */
  --ease-in-out: transform 0.5s cubic-bezier(1, 0, 0.5, 1);
  --ease-in: transform 0.5s cubic-bezier(0.57, 0, 1, 0.48);
  --ease-out: all 0.5s cubic-bezier(0, 0.89, 0.32, 1);
  --linear: all 0.3s linear;
}

/* color classes */

.pink {
  color: var(--pink);
}
.bg-pink {
  background-color: var(--pink);
}

/* --------------------------- text --------------------------- */
body {
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  line-height: 1.5;
}

/* headers */
.h-lg,
.section-wrapper header h1,
.section-wrapper header h2 {
  font-family: 'PP Right Slab';
  font-size: 118px;
  font-weight: 300;
  line-height: 0.92;
}
.h-md {
  font-size: 26px;
  font-weight: 400;
  line-height: 1.15;
}
.h-sm {
  font-size: 24px;
}
.h-xsm {
  font-size: 22px;
  font-weight: 400;
}

/* body */
.body-sm {
  p,
  li {
    font-size: 18px;
    line-height: 1.65;
  }
}
.body-md {
  p,
  li {
    font-size: 20px;
    line-height: 1.7;
  }
}
.body-lg {
  p,
  li {
    font-size: 26px;
    line-height: 1.7;
  }
}

/* text spacing */
p + p {
  margin-top: 25px;
}
[class*='body-'] {
  p + ul,
  ul + p {
    margin-top: 25px;
  }
  ul:not(.item-list) {
    padding-left: 30px;
  }
}

@media (max-width: 1200px) {
  .body-lg {
    p,
    li {
      font-size: 22px;
    }
  }
  h2 + * {
    margin-top: 30px;
  }
}
@media (max-width: 1024px) {
  body {
    font-size: 18px;
  }
  .body-md {
    p,
    li {
      font-size: 18px;
      line-height: 1.5;
    }
  }
  .body-lg {
    p,
    li {
      font-size: 20px;
    }
  }
  h2 {
    font-size: 22px;
    line-height: 1.35;
  }
}

@media (max-width: 768px) {
}

/* --------------------------- margins --------------------------- */

.hpad,
.p-max {
  padding-left: var(--side-margin);
  padding-right: var(--side-margin);
}
.p-max {
  max-width: calc(var(--baseW) + var(--full-margin));
}
.vpad {
  padding-top: var(--top-margin);
  padding-bottom: var(--top-margin);
}
.pt {
  padding-top: var(--top-margin);
}
.pb {
  padding-bottom: var(--top-margin);
}
.pl {
  padding-left: var(--side-margin);
}
.pr {
  padding-right: var(--side-margin);
}

@media (max-width: 1200px) {
  .vpad {
    padding-top: var(--top-marginM);
    padding-bottom: var(--top-marginM);
  }
  .hpad {
    padding-left: var(--side-marginM);
    padding-right: var(--side-marginM);
  }
  .pt {
    padding-top: var(--top-marginM);
  }
  .pb {
    padding-bottom: var(--top-marginM);
  }
  .pl {
    padding-left: var(--side-marginM);
  }
  .pr {
    padding-right: var(--side-marginM);
  }
}

/* --------------------------- util --------------------------- */
::-moz-selection {
  background: var(--pink);
  color: #fff;
}
::selection {
  background: var(--pink);
  color: #fff;
}
.boost {
  transform: translateZ(0px);
}
.anim-resize {
  transition: var(--ease-out);
}
.scroll-reveal {
  opacity: 0;
  transition: all 0.5s ease-out;
  &.on {
    opacity: 1;
  }
}

@media (min-width: 769px) and (max-width: 1200px) {
  .three-col .scroll-reveal {
    &:nth-child(2n + 2) {
      transition-delay: 0.2s;
    }
  }
}
@media (min-width: 1201px) {
  .three-col .scroll-reveal {
    &:nth-child(3n + 2) {
      transition-delay: 0.15s;
    }
    &:nth-child(3n + 3) {
      transition-delay: 0.3s;
    }
  }
}
@media (min-width: 769px) {
  .two-col .scroll-reveal {
    &:nth-child(2n + 2) {
      transition-delay: 0.2s;
    }
  }
}
